@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Roboto:wght@300;400&display=swap');
/* 
font-family: 'Comfortaa', cursive;
font-family: 'Roboto', sans-serif; */

body {
    
}


#game {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 60vw;
    background-size: cover;
    background-position: center;
    margin: auto;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    color: white;
}

.intro > h1 {
    font-size: 2em;
    margin-bottom: 1rem;
}

.intro > p {
    font-size: 1rem;
}

.intro > p#press-start {
    margin-top: 5rem;
}

.obstacle {
    position: absolute;
    background-color: blueviolet;
    transition: .5s;
}

.player {
    position: absolute;
    background-color: green;
    transition: .2s;
}

#level-one-bg {
    transition: .5s;
}

.game-over {
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    color: white;
}

.game-over > h1 {
    font-size: 2em;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.game-over > p {
    font-size: 1rem;
    margin-right: 2rem;
}
