body {
}

/* #game-wrapper {
    width: 90vw;
    margin: 20px auto;
} */

#game {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 60vw;
    background-size: cover;
    background-position: center;
    margin: auto;
    border: 1px red solid;
    background-color: rgb(63, 62, 124);
}

.player {
    position: absolute;
    background-color: green;
    transition: .2s;
}

.obstacle {
    position: absolute;
    background-color: blueviolet;
    transition: .5s;
}