@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Roboto:wght@300;400&display=swap');
/* 
font-family: 'Comfortaa', cursive;
font-family: 'Roboto', sans-serif; */

/* body {} */

/* #game-wrapper {
    width: 90vw;
    margin: 20px auto;
} */

#game {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 60vw;
    background-size: cover;
    background-position: center;
    margin: auto;
    /* border: 1px red solid; */
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.intro {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    color: white;
}

.intro > h1 {
    font-size: 2em;
    margin-bottom: .4rem;
}

.intro > p {
    font-size: 1rem;
}

.obstacle {
    position: absolute;
    background-color: blueviolet;
    transition: .5s;
}

.player {
    position: absolute;
    background-color: green;
    transition: .2s;
}

#level-one-bg {
    transition: .5s;
}